stages:
  - validate
  - trigger

validate_frontmatter:
  stage: validate
  image: oven/bun:1
  script:
    - bun install --frozen-lockfile
    - bun run validate
  only:
    - merge_requests
    - master

trigger_site:
  stage: trigger
  image: curlimages/curl:8.5.0
  script:
    - >
      curl --request POST
      --form token=${SLOP_SITE_TRIGGER_TOKEN}
      --form ref=master
      https://gitlab.com/api/v4/projects/${SLOP_SITE_PROJECT_ID}/trigger/pipeline
  only:
    - master
